.card {
  margin-top: 1%;
  height: 40vh;
  width: 40vh;
  background-color: rgb(0, 0, 0);
  border: 0.3vh solid #6afb32;
  border-radius: 2%;
}

.card img {
  padding-top: 4%;
  height: 25vh;
  width: 35vh;
  padding-bottom: 4%;
}
.card img:hover {
  cursor: pointer;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  color: #12b0c9;
  font-size: 1.5rem;
  font-weight: bolder;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-left: 1%;
  margin-bottom: 2%;
  text-align: center;
}
.overview {
  color: white;
  font-size: large;
  width: 38vh;
  height: 2vh;
  text-align: center;
}

.rating_number {
  color: #6afb32;
  font-weight: bold;
}

.rating {
  float: left;
  color: white;
  margin-left: 1%;
  font-weight: bold;
}
.number {
  float: right;
  color: white;
  margin-right: 1%;
  font-weight: bold;
}

.container {
  position: relative;
  text-align: center;
}
.top_right {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 1.51rem;
  -webkit-text-stroke: 1.5px #050505;
}
.topLeft {
  height: 5vh;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topRight {
  height: 5vh;
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botLeft {
  height: 5vh;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botRigth {
  height: 5vh;
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
