.categorias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoria {
  height: fit-content;
  width: 4vw;
  color: #12b0c9;
  -webkit-text-stroke: 1px #c8dd5d;
  text-shadow: 5px 1px 11px rgba(0, 0, 0, 1);
  text-align: center;
  margin: 8vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5rem;
}

.categoria:hover {
  text-decoration: underline;
}

@media (max-width: 560px) {
  .categoria {
    font-size: 1.5rem;
  }
}
