.flag {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
.center {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.languageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #c8dd5d;
  border-radius: 10px;
  box-shadow: 0px 2px 5px -1px rgb(255, 255, 255),
    0px 1px 3px -1px rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: #12b0c9;
  width: fit-content;
}

select {
  font-size: 1rem;
  border: none;
  background-color: #12b0c9;
  color: rgb(255, 255, 255);
}
