.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000c3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}
.modal {
  width: 60vh;
  height: 50vh;
  background-color: #12b0c9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  margin-top: -15vh;
  margin-left: -30vh;
  border: 5px rgb(0, 0, 0) solid;
  color: rgb(0, 0, 0);

  text-align: center;
  -webkit-animation: scale-in-ver-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-size: 0.7rem;
}

.close {
  font-size: 2.5rem;

  color: #ffffff;
  -webkit-text-stroke: 1.5px #050505;
  cursor: pointer;
  margin-right: 4%;
  padding: 0px;
  z-index: 2;
  width: fit-content;
  float: right;
}
.imagen {
  text-align: center;
}

.imagen img {
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 50%;
  height: 13vh;
  width: 13vh;
  border: 2px solid black;
}

.detalle {
  width: 50%;
  text-align: center;
  margin-top: 2%;
}
.help {
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 16px;
  border: 2px solid black;
  overflow-x: scroll;
  white-space: nowrap;
}
.alive {
  margin-top: 2%;
  width: 45%;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  border-radius: 16px;
  border: 2px solid black;
  background-color: #6afb32;
}
.dead {
  margin-top: 2%;
  width: 45%;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  border-radius: 16px;
  border: 2px solid black;
  background-color: #f85252;
}
.unknown {
  margin-top: 2%;
  width: 45%;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  border-radius: 16px;
  border: 2px solid black;
  background-color: #b1aeae;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.location {
  overflow-x: hidden;
}

.locationText {
  animation: rightToLeft 6.5s linear infinite;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@media (max-width: 560px) {
  .imagen img {
    height: 10vh;
    border: 2px solid black;
  }
}

@media (max-width: 560px) {
  .modal {
    width: 50vh;
    height: 40vh;
    margin-left: -25vh;
    font-size: 0.5rem;
  }

  .imagen img {
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 2px solid black;
  }
}
