.container {
  display: inline;
  position: relative;
  padding-inline: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #6afb32;
}

.container input:checked ~ .checkmark {
  background-color: #6afb32;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}

.centro {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    font-size: 15px;
    padding-inline: 20px;
  }
  .checkmark {
    height: 15px;
    width: 15px;
  }
  .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
  }
}
