.paginacion {
  text-align: center;
  color: #6afb32;
  font-size: 1.5rem;
  margin-inline: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 0.5px #000000;
}
.paginacion button {
  background-color: #6afb32;
  border: none;
  border-radius: 20%;
  height: 5svh;
  margin-inline: 2%;
  margin-top: 2%;
}
h1 {
  margin-bottom: 1%;
}
.oculto {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .paginacion button {
    height: 6vh;
  }
}
